backend:
  name: git-gateway
  branch: main

media_folder: "assets/uploads"
public_folder: "/assets/uploads"

site_url: https://digilightindia.netlify.app

collections:
  - name: "blog"
    label: "Blog Posts"
    folder: "blog/posts"
    create: true
    slug: "{{slug}}"
    extension: "md"
    format: "frontmatter"

    fields:
      - { label: "Title", name: "title", widget: "string" }

      - { label: "Publish Date", name: "date", widget: "datetime" }

      - { label: "Featured Image", name: "thumbnail", widget: "image" }

      - { label: "Description (SEO)", name: "description", widget: "text" }

      - { label: "Body Content", name: "body", widget: "markdown" }
